body{
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

[class*="testimonials-"] {
    padding: 20px;
}

.page-header .title {
    letter-spacing: 3px;
}

.navbar-brand .logo {
    margin: -14px 0;
    background-image: url("../images/logo.png");
    height: 51px;
    width: 248px;
    background-repeat: no-repeat;
    background-position: 45% 78%;
    background-size: cover;
}

.navbar .navbar-nav > li > a {
    letter-spacing: 1px;
}

.btn-class-custom button {
    letter-spacing: 2px;
}

.header-2 .navbar-color-on-scroll.navbar-transparent .navbar-header .logo {
    background-image: url(../images/logo-white.png);
    height: 51px;
    width: 248px;
    background-repeat: no-repeat;
    background-position: 45% 78%;
    background-size: cover;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.titles {
    color: #3C4858;
    text-decoration: none;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.title.text-center {
    margin-bottom: 50px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

.switch {
    margin-right: 20px;
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}

.space {
    height: 130px;
    display: block;
}

.space-110 {
    height: 110px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-70 {
    height: 70px;
    display: block;
}

.navigation-example .img-src {
    background-attachment: scroll;
}

.tim-container .noUi-horizontal {
    margin: 30px 0;
}

/*.navigation-example {*/
    /*background-image: url('../images/bg.jpg');*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*margin-top: 0;*/
    /*min-height: 740px;*/
/*}*/

#notifications {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}

#notifications .alert-danger {
    margin-bottom: 0px;
}

.tim-note {
    text-transform: capitalize;
}

#buttons .btn {
    margin: 0 0px 15px;
}

.space-100 {
    height: 100px;
    display: block;
    width: 100%;
}

.be-social {
    padding-bottom: 20px;
    /*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}

.txt-white {
    color: #FFFFFF;
}

.txt-gray {
    color: #ddd !important;
}

.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    color: #fff;
    width: 70px;
    height: 40px;
    text-align: left;
}

.navbar-default .logo-container .brand {
    color: #999999;
}

.navbar-transparent .logo-container .brand {
    color: #FFFFFF;
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img {
    width: 100%;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.fixed-section {
    top: 90px;
    max-height: 71vh;
    overflow: scroll;
    border-bottom: 1px solid rgba(220, 220, 220, .8);
}

.fixed-section ul li {
    list-style: none;
}

.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}

.fixed-section li a.active {
    color: #00bbff;
}

.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}

.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.parallax .parallax-image img {
    width: 100%;
}

@media (max-width: 768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden;
    }

    .parallax .parallax-image img {
        height: 100%;
        width: auto;
    }
}

.separator {
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}

.separator-line {
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}

.separator.separator-gray {
    background-color: #EEEEEE;
}

.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.lightbox img {
    width: 100%;
}

.lightbox .modal-content {
    overflow: hidden;
}

.lightbox .modal-body {
    padding: 0;
}







@media screen and (min-width: 991px) {
    .lightbox .modal-dialog {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .fixed-section.affix {
        position: relative;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .btn, .btn-morphing {
        margin-bottom: 10px;
    }

    .parallax .motto {
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */

.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#images h4 {
    margin-bottom: 30px;
}

#javascriptComponents {
    padding-bottom: 0;
}

#javascriptComponents .btn-raised {
    margin: 10px 0px;
}

/*      layer animation          */

.layers-container {
    display: block;
    margin-top: 50px;
    position: relative;
}

.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}

.section-black {
    background-color: #333;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.sharing-area {
    margin-top: 80px;
}

.sharing-area .btn {
    margin: 15px 4px 0;
    color: #FFFFFF;
}

.sharing-area .btn i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.sharing-area .btn-twitter {
    background-color: #55acee;
}

.sharing-area .btn-facebook {
    background-color: #3b5998;
}

.sharing-area .btn-google-plus {
    background-color: #dd4b39;
}

.sharing-area .btn-github {
    background-color: #333333;
}

.section-thin, .section-notifications {
    padding: 0;
}

.section-navbars {
    padding-top: 0;
}

#navbar .navbar {
    border-radius: 0;
}

.section-tabs {
    background: #EEEEEE;
}

.section-pagination {
    padding-bottom: 0;
}

.section-download h4 {
    margin-bottom: 50px;
}

.section-examples a {
    text-decoration: none;
}

.section-examples h5 {
    margin-top: 30px;
}

.components-page .wrapper > .header, .tutorial-page .wrapper > .header {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}

.components-page .title, .tutorial-page .title {
    color: #FFFFFF;
}

@media (max-width: 830px) {
    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media all and (min-width: 1200px) {
    #modal-row [class*="col-"]:nth-child(1), #modal-row [class*="col-"]:nth-child(4), #javascriptComponents [class*="col-"]:nth-child(2), #javascriptComponents [class*="col-"]:nth-child(5) {
        padding-right: 3px;
    }

    #modal-row [class*="col-"]:nth-child(2), #javascriptComponents [class*="col-"]:nth-child(3) {
        padding-right: 3px;
        padding-left: 3px;
    }

    #modal-row [class*="col-"]:nth-child(3), #modal-row [class*="col-"]:nth-child(5), #javascriptComponents [class*="col-"]:nth-child(4), #javascriptComponents [class*="col-"]:nth-child(6) {
        padding-left: 3px;
    }
}

.cd-section, .blogs-3 {
    background: #FFF;
}

.projects-1 {
    background-color: #f7f7f7;
}

.btn-class-custom button {
    font-size: 15px;
    font-weight: bold;
}

.btn-class-custom i {
    font-size: 26px !important;
}

#pricing {
    background-color: #f3f1f1;
}

/*
 * home page section css
 */
.corecss {
    background-color: #FFFFFF;
}

.corecss .title {
    margin-bottom: 0;
}

.corecss-services {
    background-image: url(../images/services.jpeg);
    background-attachment: fixed;
}

.corecss-services:after {
    background: rgba(47, 46, 46, 0.84);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
}

.call-to-action {
    background-color: #009FD9;
}

.call-to-action .card {
    margin-top: 30px;
}

.call-to-action .title {
    color: #FFF;
    font-size: 29px;
    margin: 44px 0;
}

.call-to-action .btn.btn-rose {
    background: white;
    color: #000;
    letter-spacing: 1px;
}

/*
 * Pricing
 */
.header-pricing {
    background-image: url(../images/pricing-header.jpeg);
    background-size: cover;
    background-position: 29% 42%;
    position: relative;
}

.header-pricing::after {
    content: ' ';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.62);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.secheader-banner {
    padding-top: 72px;
    text-align: center;
}

.secheader-banner h2 {
    color: #FFF;
    position: relative;
    z-index: 1;
}

.pricing {
    background-color: #f9f9ff;
}

.process-of-task {
    background: #FFF;
}

/*
 * Map
 */
.contactus-2 .map {
    left: 0;
    height: 775px;
}

.projects-2 {
    background-color: rgba(251, 251, 251, 0.8);
}

.card-core .card-image img {
    min-height: 273px;
}

/* team 5 member */
.card-5 {
    width: 19.6%;
}

.card-5 .card-content {
    padding: 0;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.client-dba {
    background-color: #fff;
    padding-bottom: 20px;
}

.scroll-dba-client .card-image img {
    border-radius: 7px;
    transition: 0.3s ease-in;
    max-width: 100%;
    min-height: 100px;
    height: 100px;
}

.scroll-dba-client .card-image img:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: 0.3s ease-in-out;
}

.slick-initialized .slick-slide {
    display: inline-block;
}

.card-profile {
    height: 174px;
}

.card-title{
    font-size: 1em;
}

/* contact us */
.down-up {
    padding: 17px 7px;
}

/*** single similar ***/
.similar {
    background: #f9f9f9;
}

.blogs-2 {
    background-color: #FFF;
}

.height-specific {
    min-height: 400px;
}
/**** media queries ***/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .card-5 {
        width: 19.6%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .card-5 {
        width: 33%;
        display: inline-block;
    }
}

@media only screen and (max-width: 676px) {
    .card-5 {
        width: 49%;
        display: inline-block;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .card-5 {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .card-5 {
        width: 100%;
    }
}



/*Final Sort Out Code*/
.navbar .navbar-nav > li > a {
    letter-spacing: 8px;
    font-size: 14px;
}